@tailwind base;
@tailwind components;
@tailwind utilities;

.theme {
  --primary-color: 211, 219, 244;
  --secondary-color: 232, 237, 249;
  --background-color: 253, 254, 253;
  --button-color: 48, 48, 49;
  --background-secondary-color: 238, 238, 237;
  --notes-message: 234, 217, 151;
}
